/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* styles.css */

/* Target the formio component by its class */
.formio {
  /* Change the background color */
  background-color: #f0f0f0;
}

/* Target formio components within a specific container */
.my-form-container .formio {
  /* Change the font size */
  font-size: 16px;
}

/* Target specific elements within the formio component */
.formio .formio-component input[type="text"] {
  /* Change the border color */
  border-color: #ccc;
}
